# For Clerk in local dev
CLERK_SECRET_KEY=""
VITE_CLERK_PUBLISHABLE_KEY=""

# For Neon Testing
NEON_API_KEY=""
NEON_PROJECT_ID=""

# For Drizzle Kit in local dev
DATABASE_URL=""

# For the Hyperdrive binding in local dev (vite dev connects straight to Neon)
CLOUDFLARE_HYPERDRIVE_LOCAL_CONNECTION_STRING_HYPERDRIVE="${DATABASE_URL}"
